<%= stylesheet_link_tag "home.css" %>
<%= javascript_include_tag "home.js" %>
<div class="tableau">

    <ul class="tabs">
        <li rel="panel1" class="active">Présentation</li>
        <li rel="panel2">Menu</li>
        <li rel="panel3">Comment s'y rendre ?</li>
    </ul>

    <div id="panel1" class="panel active">
      <h3>Notre histoire</h3>
        Nous avons ouvert ce restaurant il y a déjà 10 ans. Mon grand-père avait une brasserie. J'ai décidé d'ouvrir un kebab.<br/>
      <h3>Le lieu</h3>
        Un restaurant magnifique où la foule se presse.<br/>
      <h3>Non, nous ne sommes pas le kebab du coin.</h3>
        Nos kebabs coûtent entre 45 et 105 euros pour celui à la truffe.<br/>
    </div>
    <div id="panel2" class="panel">
      <h3>Entrées</h3>
        Kebab Saumon<br/>
        Kebab Champis<br/>
        Kebab Mort au rat<br/>
        Kebab Gingembre<br/>
      <h3>Plats</h3>
        Kebab Poulet<br/>
        Kebab Hamburger<br/>
        Kebab Salade Caesar<br/>
        Kebab Quinoa et poisson cuit<br/>
      <h3>Desserts</h3>
        Kebab Mousse au chocolat<br/>
        Kebab Space Cake<br/>
        Kebab Champis<br/>
        Kebab Brownie<br/>
    </div>
    <div id="panel3" class="panel">
      <h3>Adresse</h3>
        135, rue du Kebab à Paris.<br/>
      <h3>Contact</h3>
        + 33 6 66 66 66 66 66<br/>
    </div>

</div>
